<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
        <nav>
        <a href="{% url 'home' %}">Pradinis</a>
        <a href="{% url 'project' %}">Projektai</a>
        <a href="{% url 'contacts' %}">Kontaktai</a>
        </nav>
    <header>
        {% block header %}{% endblock %}
    </header>




    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Your Website. All rights reserved.</p>
    </footer>
</body>
</html>